__pycache__/
*.egg-info/
build/
dist/
.tmp/
.tox/
env/

*.py[cdo]
*.sqlite
*.egg
*.log
tags

.vscode
.cache
.idea

# test & coverage
nosetests.xml
coverage.xml
.coverage

.DS_Store
.vscode
.cache
.idea
.env
